<h2>Hi, <%=current_user&.name%> 請設定您的員工資訊</h2>

<%= form_for(current_user, url: user_edit_path, html: { method: :put, class: 'container', id: "edit_user" }) do |f| %>
  <%# <%= render "users/shared/error_messages", resource: resource %> 

  <div class="mb-3">
    <%= f.label "業代", class: "form-label", for: "eno" %><br />
    <%= f.text_field :eno, autofocus: true, autocomplete: "id", class: "form-control", id: "eno" %>
  </div>

  <div class="mb-3">
    <%= f.label "姓名", class: "form-label", for: "real_name" %><br />
    <%= f.text_field :real_name, autofocus: true, autocomplete: "name", class: "form-control", id: "real_name" %>
  </div>

  <div class="mb-3">
    <%= f.label "部門/營業處", class: "form-label", for: "sale_number" %><br />
    <%= f.select :organization_id, Organization.all.map{|o| [o.name, o.id]}, {include_blank: "請選擇部門/營業處"},  {class: "form-select", id: "sale_number"} %>
  </div>

  <%= liff_path(path: "/user/edit", size: :full) %>

  <div class="d-grid">
    <%= f.submit "送出", class: "btn btn-primary btn-width"%>
  </div>
<% end %>

<script type="text/javascript">
  $("#edit_user").bind('ajax:complete', function() {

    console.log("fjdsklf")


   });
<script>
